/* ========container======= */
body {
  height: 100%;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.three-card-column-holder {
  margin: auto;
  max-width: 375px;
  min-width: 345px;
}

.Sedans-section {
  height: 390px;
  background: hsl(31, 77%, 52%);
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;
}

.SUVs-section {
  height: 390px;
  background: hsl(184, 100%, 22%);
}

.Luxury-section {
  height: 390px;
  background: hsl(179, 100%, 13%);
  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;
}

/* ========container======= */

/* ========content========= */

.all-card {
  color: white;
  padding: 45px;
}

.subtitle {
  font-family: "Big Shoulders Display", sans-serif;
  font-size: 38px;
  text-transform: uppercase;
}

.para-style {
  font-family: "Lexend Deca", sans-serif;
  line-height: 30px;
  padding: 0 32px 0 0;
  margin-bottom: 30px;
}

.all-button {
  border: 3px solid white;
  border-radius: 2em;
  padding: 15px 35px;
  font-family: "Lexend Deca", sans-serif;
  font-size: 16px;
  background: white;
}

.button-1:hover {
  color: white;
  background: hsl(31, 77%, 52%);
  cursor: pointer;
}
.button-2:hover {
  color: white;
  background: hsl(184, 100%, 22%);
  cursor: pointer;
}
.button-3:hover {
  color: white;
  background: hsl(179, 100%, 13%);
  cursor: pointer;
}

.button-1 {
  color: hsl(31, 77%, 52%);
}
.button-2 {
  color: hsl(184, 100%, 22%);
}
.button-3 {
  color: hsl(179, 100%, 13%);
}

/* ========content========= */

/* ========media==query==1========= */
@media (min-width: 800px) {
  /* ========container======= */

  body {
    padding: 50px 0;
    height: 100%;
  }

  .three-card-column-holder {
    display: flex;
    max-width: 1000px;
    min-width: 700px;
    max-height: 480px;
  }

  .Sedans-section {
    margin-left: auto;
    min-width: 170px;
    max-width: 170px;
    flex-shrink: 1;
    background: hsl(31, 77%, 52%);
    border-top-right-radius: 0px;
    border-bottom-left-radius: 9px;
  }

  .SUVs-section {
    min-width: 170px;
    max-width: 170px;
    flex-shrink: 1;
    background: hsl(184, 100%, 22%);
  }

  .Luxury-section {
    margin-right: auto;
    min-width: 178px;
    max-width: 170px;
    flex-shrink: 1;
    background: hsl(179, 100%, 13%);
    border-bottom-right-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 0px;
  }
  /* ========container======= */

  .subtitle {
    font-size: 30px;
  }

  .para-style {
    font-family: "Lexend Deca", sans-serif;
    /* font-size: 15px; */
    line-height: 25px;
    /* padding: 0 32px 0 0; */
    margin-bottom: 30px;
  }
}
/* ========media==query==1========= */

/* ========media==query==2========= */

@media (min-width: 1030px) {
  /* ========container======= */

  body {
    padding: 50px 0;
    height: 100%;
  }

  .three-card-column-holder {
    display: flex;
    margin: auto;
    max-width: 1000px;
    min-width: 700px;
    max-height: 480px;
  }

  .Sedans-section {
    height: 440px;
    max-width: 700px;
    flex-shrink: 1;
    background: hsl(31, 77%, 52%);
    border-top-right-radius: 0px;
    border-bottom-left-radius: 9px;
  }

  .SUVs-section {
    height: 440px;
    max-width: 700px;
    flex-shrink: 1;
    background: hsl(184, 100%, 22%);
  }

  .Luxury-section {
    height: 440px;
    max-width: 700px;

    flex-shrink: 1;
    background: hsl(179, 100%, 13%);
    border-bottom-right-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 0px;
  }
  /* ========container======= */

  .para-style {
    font-family: "Lexend Deca", sans-serif;
    line-height: 30px;
    padding: 0 32px 0 0;
    margin-bottom: 75px;
  }
}
